@import "tailwindcss";
@import "./componet.css";


@theme {
  /* Color */
  --color-white: #ffffff;
  --color-white-1: #f2f2f2;
  --color-white-2: #faf7f5;
  --color-black: #000000;
  --color-black-100: #2d2926;
  --color-cream: #f7f5e6;
  --color-light-cream: #fffde4;
  --color-primary-blue: #6dbacc;
  --color-primary-pink: #dbafd0;
  --color-primary-yellow: #dcc439;
  --color-dark-blue: #589199;
  --color-dark-pink: #a879a6;
  --color-dark-yellow: #aa9b31;
  --color-dark-purple: #745c72;
  --color-light-pink: #f8e7fb;
  --color-light-pink-36: #dbb8e15c;
  --color-light-blue-36: #a9d0db5c;
  --color-light-yellow-36: #dcd35f5c;
  --color-font: #808080;

  /* Font-family */
  --font-body: "helvetica-neue-lt-pro", sans-serif;
  --font-body-light: "helvetica-neue-lt-pro-light", sans-serif;
  --font-body-demi-bold: "Avenir-Next-LT-Pro-demi";

  /* font-size */
  --text-32: 32px;
  --text-64: 64px;

  /* lineheight */
  --spacing-100p: 100%;

  /* Shadow */
  --shadow-black-1: 0px 4px 20px 0px #0000001a;
  --shadow-black-2: 0px 5px 10px 0px #0000001a;

  /* Custom neccessary Breakpoints */
  --breakpoint-370: 370px;
  --breakpoint-mdscreen: 990px;
  --breakpoint-mdscreen1: 768px;
  --breakpoint-1440: 1440px;
  --breakpoint-extlarge_desktop: 1921px;
  --breakpoint-extlarge_desktop1: 2000px;
}

