{% comment %}
  Simple page template that renders the wishlist snippet.
  After you add this template, create a Page in Shopify Admin and assign this template (page.wishlist).
{% endcomment %}

<div class="page-width">
  {% render 'wishlist' %}
</div>
